.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  padding: 40px 0;
}

.transparentTopbar {
  background-color: rgba(63, 63, 63, 0.4);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 30px 0;
}
